.cart {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.cart-header {
    font-size: 20px;
    margin: 0 0 10px;
}

.cart-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.item-details {
    margin-bottom: 5px;
}

.item-price {
    display: block;
    font-weight: bold;
}

.item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.quantity-button {
    width: 30px;
    height: 30px;
    background-color: #eee;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: background-color 0.3s ease;
}

.quantity-button:hover {
    background-color: #ddd;
}

.quantity-button:active {
    background-color: #ccc;
}

.quantity-button:focus {
    box-shadow: 0 0 0 2px #337ab7;
}

.quantity-button.plus {
    border-radius: 50% 0 0 50%;
    margin-right: -1px;
}

.quantity-button.minus {
    border-radius: 0 50% 50% 0;
    margin-left: -1px;
}

.item-quantity-value {
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
}

.cart-total {
    font-weight: bold;
    margin-top: 10px;
}

.cart-buttons {
    margin-top: 20px;
    text-align: center;
}

.cart-buttons button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: background-color 0.3s ease;
}

.cart-buttons button:hover {
    background-color: #23527c;
}

.cart-buttons button:active {
    background-color: #1c4566;
}

.cart-buttons button:focus {
    box-shadow: 0 0 0 2px #337ab7;
}

.cart-buttons .clear-all-button {
    background-color: #dc3545;
    margin-left: 10px;
}

.cart-buttons .clear-all-button:hover {
    background-color: #c82333;
}

.cart-buttons .clear-all-button:active {
    background-color: #a71d2a;
}

.remove{
    margin-left: 30px;
    background-color: #dc3545;
    border: 0;
    color:white;
    padding: 10px;
    font-size: 15px;
}

.remove:hover{
    background-color: #c82333;
    cursor: pointer;
}
.remove:active{
    background-color: #a71d2a;
}

